<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="css/styles.css" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<table>
			<tr>
				<td class="title"><% entry.at_css('.title').text %></td>
				<td class="author"><% entry.at_css('.title').text %></td>
				<td class="date"><% entry.at_css('.title').text	%></td>
			</tr>
		</table>



		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>

</html>